################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Lion.Client.SDK/bin/Debug/netcoreapp2.0
/Lion.Client.SDK/obj
/.vs/Lion.Client.SDK/v15
/Lion.Client.SDK/Lion.Client.SDK.1.0.4.nupkg
/Lion.Client.SDK/Lion.Client.SDK.nuspec
/Lion.Client.SDK/nuget.exe
